configuration {
    modi: "drun,run";                    
    show-icons: true;                    
    font: "JetBrainsMono Nerd Font 12"; 
}

/* Import active theme */
@theme "~/.config/rofi/theme.rasi"
