* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#clock,
#custom-power,
#network,
#bluetooth,
#pulseaudio,
#battery,
#backlight {
  background: #1e1e2e;
  padding: 0 14px;
  margin: 4px 2px;
  border-radius: 8px;
  border: 1px solid #313244;
  color: #cdd6f4;
}

#clock {
  color: #98c379;
}

#network {
  color: #6272a4; /* Default: Blue/Grey (Scanning/Unknown) */
}
#network.wifi,
#network.ethernet {
  color: #98c379; /* Connected: Green */
}
#network.disconnected {
  color: #45475a; /* Disconnected: Dim Grey */
}

#bluetooth {
  color: #98c379; /* Connected: Green */
}
#bluetooth.disabled,
#bluetooth.off {
  color: #45475a; /* Off: Dim Grey */
}

#pulseaudio {
  color: #98c379; /* Active: Green */
}
#pulseaudio.muted {
  color: #45475a; /* Muted: Dim Grey */
}
#pulseaudio.microphone {
  color: #98c379;
}
#pulseaudio.microphone.muted {
  color: #45475a;
}

#backlight {
  color: #98c379; /* Always active */
}

#battery {
  color: #61afef; /* 20% - 80%: Blue */
}

#battery.charging,
#battery.plugged {
  color: #98c379; /* Charging: Green */
}

#battery.warning:not(.charging) {
  color: #e5c07b; /* 10-20%: Yellow */
}

#battery.critical:not(.charging) {
  color: #e06c75; /* < 10%: Red */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.full {
  color: #98c379;
}

/* -- POWER BUTTON -- */
#custom-power {
  color: #f38ba8;
  padding-right: 18px;
}

/* 3. WORKSPACES */

/* --- WORKSPACES (Omarchy Style) --- */

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  color: #98c379; /* Connected: Green */
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  background-color: #e06c75; /* Red */
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #1e1e2e;
  }
}
