* {
  border: none;
  font-family: "jetbrainsmono nerd font";
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#clock,
#custom-power,
#network,
#bluetooth,
#pulseaudio,
#battery,
#backlight,
#custom-kbd_backlight {
  padding: 0 14px;
  margin: 4px 2px;
  color: #cdd6f4;
}

#clock {
  color: #98c379;
}

#network {
  color: #6272a4; /* default: blue/grey (scanning/unknown) */
}
#network.wifi,
#network.ethernet {
  color: #98c379; /* connected: green */
}
#network.disconnected {
  color: #45475a; /* disconnected: dim grey */
}

#bluetooth {
  color: #98c379; /* connected: green */
}
#bluetooth.disabled,
#bluetooth.off {
  color: #45475a; /* off: dim grey */
}

#pulseaudio,
#pulseaudio-microphone {
  padding: 0 10px;
  background-color: transparent;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* --- OUTPUT (SPEAKERS) --- */
#pulseaudio {
  color: #98c379; /* active: green */
}

#pulseaudio.muted {
  color: #45475a; /* muted: dim grey */
  padding-right: 14px; /* Optical balance for the muted icon */
}

#pulseaudio.bluetooth {
  color: #61afef;
}

/* Note: The ID is hyphenated because of 'pulseaudio#microphone' */
#pulseaudio-microphone {
  color: #e06c75; /* active: red (standard for recording) */
}

#pulseaudio-microphone.muted {
  color: #45475a; /* muted: dim grey */
}

@keyframes recording-pulse {
  0% {
    color: #e06c75;
  }
  50% {
    color: #be5046;
  }
  100% {
    color: #e06c75;
  }
}

#pulseaudio-microphone:not(.muted) {
  animation-name: recording-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#backlight {
  color: #98c379; /* always active */
}

#battery {
  color: #61afef; /* 20% - 80%: blue */
}

#battery.charging,
#battery.plugged {
  color: #98c379; /* charging: green */
}

#battery.warning:not(.charging) {
  color: #e5c07b; /* 10-20%: yellow */
}

#battery.critical:not(.charging) {
  color: #e06c75; /* < 10%: red */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.full {
  color: #98c379;
}

#custom-kbd_backlight {
  color: #98c379;
}

/* -- power button -- */
#custom-power {
  color: #f38ba8;
  padding-right: 18px;
}

/* 3. workspaces */

/* --- workspaces (omarchy style) --- */

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  color: #98c379; /* connected: green */
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  background-color: #e06c75; /* red */
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #1e1e2e;
  }
}
