* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: #0d0d0d;
  color: #e0e0e0;
  border-bottom: 2px solid #ffb86c; /* Amber line at bottom */
}

/* Modules look like distinct blocks */
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
  background-color: #0d0d0d;
  padding: 0px 15px;
  margin: 5px 0px;
  border-right: 1px solid #444444; /* Separator lines */
}

#workspaces button {
  padding: 0 5px;
  color: #444444;
}

#workspaces button.active {
  color: #ffb86c;
  border-bottom: 2px solid #ffb86c;
}

#workspaces button.urgent {
  color: #ff5555;
  background-color: #0d0d0d;
  border: 1px solid #ff5555;
}

/* Alert states */
#battery.critical,
#network.disconnected {
  color: #ff5555;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  to {
    color: #0d0d0d;
    background-color: #ff5555;
  }
}
