* {
  border: none;
  font-family: "jetbrainsmono nerd font";
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#clock,
#custom-power,
#network,
#bluetooth,
#pulseaudio,
#battery,
#backlight {
  background: #1e1e2e;
  padding: 0 14px;
  margin: 4px 2px;
  border-radius: 4px;
  border: 1px solid #313244;
  color: #cdd6f4;
}

#clock {
  color: #98c379;
}

#network {
  color: #6272a4; /* default: blue/grey (scanning/unknown) */
}
#network.wifi,
#network.ethernet {
  color: #98c379; /* connected: green */
}
#network.disconnected {
  color: #45475a; /* disconnected: dim grey */
}

#bluetooth {
  color: #98c379; /* connected: green */
}
#bluetooth.disabled,
#bluetooth.off {
  color: #45475a; /* off: dim grey */
}

#pulseaudio {
  color: #98c379; /* active: green */
}
#pulseaudio.muted {
  color: #45475a; /* muted: dim grey */
}
#pulseaudio.microphone {
  color: #98c379;
}
#pulseaudio.microphone.muted {
  color: #45475a;
}

#backlight {
  color: #98c379; /* always active */
}

#battery {
  color: #61afef; /* 20% - 80%: blue */
}

#battery.charging,
#battery.plugged {
  color: #98c379; /* charging: green */
}

#battery.warning:not(.charging) {
  color: #e5c07b; /* 10-20%: yellow */
}

#battery.critical:not(.charging) {
  color: #e06c75; /* < 10%: red */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.full {
  color: #98c379;
}

/* -- power button -- */
#custom-power {
  color: #f38ba8;
  padding-right: 18px;
}

/* 3. workspaces */

/* --- workspaces (omarchy style) --- */

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active {
  color: #98c379; /* connected: green */
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  background-color: #e06c75; /* red */
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #1e1e2e;
  }
}
